
<script>
  let search = document.querySelector('.search-box');
  document.querySelector('#search-icon').onclick = () => {
    search.classList.toggle('active');
  }
  window.onscroll = () => {
    search.classList.remove('active');
  }
</script>
<header>
  <div class="nav container">
    <h2>Admin Portal</h2>
    <ul class="navbar">
      <li><a href="#" routerLink="/admin/homepage">Home</a></li>
      <li><a routerLink="/admin/approval">approval</a></li>
      <li><a routerLink="/admin/blacklist">blacklist</a></li>
      <li><a routerLink="/admin/complaints">Complaints</a></li>
      <li><a routerLink="/admin/bookings">Bookings</a></li>
      <li><a>Users</a>
        <ul>
          <li><a routerLink="/admin/customers">customers</a></li>
          <li><a routerLink="/admin/dealers">dealers</a></li>
        </ul>
      </li>
      <li id="login"><a routerLink="/admin/login">Login</a></li>
      <li class="nav-item" id="logout">
        <button style="width: 64px; height: 32px" type="button" class="btn btn-danger" (click)="logout()">Log Out</button>
      </li>
    </ul>
  </div>
</header>
