<body>
<a href="#">
  <img id="logo" src="/assets/title_logo.png" alt="image">
</a>
<br>
<p>The global paint protection film was valued at <br>$296.3 million as of 2021. It is a highly popular <br>
  that helps vehicle owners protect their cars to keep<br> them looking new for years.
</p>
<ul class="navbar">
  <li><a href="#">Signup</a>
    <ul>
      <li><a routerLink="dealer/signup" rel="noreferrer">Dealer</a></li>
      <li><a routerLink="customer/signup" href="#" rel="noreferrer">Customer</a></li>
    </ul>
  </li>
  <li>
    <button routerLink="signin" style="width:auto">Login</button>
  </li>
</ul>
<img class="image" src="/assets/Logo.png" alt="">
</body>
