<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: black; font-size: 32px" href="#">Car Protection</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="customer/showrooms">Showrooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Bookings</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger fw-bold" type="button">Sign Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
