body{
  width: 100%;
  height: 100vh;
  background: #d9d9d9;
  padding-top: 48px;
  padding-left: 24px;
}

.container1{
  height: 162px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  margin-top: 25px;
}

h2{
  margin-left: 5%;
}
.p1{
  padding: 1px 20px;

}
p span{
  font-weight: 700;
}
a{
  text-decoration: none;
}
.accept {
  color: #FFF;
  background: #44CC44;
  padding: 5px 17px;
  box-shadow: 0 4px 0 0 #2EA62E;
  border-radius: 10px;


}
.accept:hover {
  background: #6FE76F;
  box-shadow: 0 4px 0 0 #7ED37E;
  cursor: pointer;
}
.reject {
  color: #FFF;
  background: rgba(238, 39, 39, 0.86);
  padding: 5px 17px;
  box-shadow: 0 4px 0 0 rgb(172, 78, 78);
  margin-left: 2%;
  border-radius: 10px;
  cursor: pointer;
}
.reject:hover {
  background: rgb(172, 78, 78);
  box-shadow: 0 4px 0 0 rgb(212, 99, 99);
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}
