<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<app-header></app-header>
<div style="max-height: 70%; max-width: 98%; overflow-y: auto" class="col-md-12">
  <div class="container1 row" style="margin-right: -10px" *ngFor="let item of approval">
    <div class="col-md-10 col-sm-10" style="margin-top: 10px">
    <p class="p1">
<!--      <span> Username: </span>{{item.user?.username}}<br>-->
      <span> First Name: </span>{{item.user?.firstName}}<br>
      <span> Last Name: </span>{{item.user?.lastName}}<br>
      <span>Showroom Name & Address: </span> {{item.showRoomAddress}}<br>
      <span>Email: </span>{{item.user?.email}} <br>
      <span>Phone no: </span>{{item?.user?.phoneNumber}}</p>
    </div>
    <div class="col-md-2 col-sm-2" style="margin-top: 9%;">
    <a class="accept" (click)="updateDealerStatus(item.id, 'APPROVED')">Accept</a>
    <a class="reject" (click)="updateDealerStatus(item.id, 'REJECTED')">Reject</a>
    </div>
  </div>
</div>
</body>

