<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<app-header></app-header>
<div class="user" style="max-height: 70%; overflow-y: auto">
  <table class="table table-bordered">
    <thead>
    <tr>
      <td><h5>Username</h5></td>
      <td><h5>Email Address</h5></td>
      <td><h5>Phone number</h5></td>
      <td><h5>Actions</h5></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customers">
      <td class="people">

        <p>{{item.user.username}}</p>

      </td>
      <td class="people">
        <p>{{item.user.email}}</p>
      </td>
      <td class="people">
        <p>{{item.user.phoneNumber}}</p>
      </td>
      <td class="details"><a routerLink="/admin/customers/{{item.id}}">See details</a></td>

    </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
</body>
