<!-- app.component.html -->
<body>
<app-customerheader></app-customerheader>


<br>
<p>The global paint protection film was valued at <br>$296.3 million as of 2021. It is a highly popular <br>
  that helps vehicle owners protect their cars to keep<br> them looking new for years.
</p>
<ul class="navbar">
</ul>
<img class="image" src="/assets/Logo.png" alt="">
<div class="heading">
  <h2>We have all types of PPF </h2>
  <p>Give your car an awesome look</p>
</div>
<div class="container2">
  <div class="box">
    <img src="/assets/paint1.jpeg" alt="">
    <h2>Matte ppf</h2>
  </div>
  <div class="box">
    <img src="/assets/PP.jpeg" alt="">
    <h2>Ultra thick</h2>
  </div>
  <div class="box">
    <img src="/assets/PF.jpeg" alt="">
    <h2>transparent glossy</h2>
  </div>
</div>
<div class="about-img">
  <img src="/assets/rolls.webp" alt="">
</div>

<div class="about-text">
  <h2>Cheap prices with <br>best quality</h2>
  <p>Paint protection film is a modern marvel. It’s a thin but exceptionally durable  polymer or  polyurethane film that is the ultimate layer of protection.</p>
  <a href="#" class="btn">Learn More</a>
</div>
<div class="heading1">
  <span>Blogs & News</span>
  <h2>Our Blog Content</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero harum excepturi quas ab officia qui. Consequuntur voluptates facere molestiae.</p>
</div>
<div class="container3">
  <div class="box">
    <img src="/assets/buggati.jpeg" alt="">

    <h3>BUGGATI CHIRON</h3>
    <p>Automobiles Ettore Bugatti was a German then French manufacturer of high-performance automobiles. The company was founded in 1909 in the then-German</p>
    <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
  </div>
  <div class="box">
    <img src="/assets/fee.jpeg" alt="">
    <h3>FERRARI</h3>
    <p>Ferrari Purosangue: The information we do have alludes to a four-seater likely to be around 16 feet in length; using Ferrari’s scalable front-mid-engined </p>
    <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
  </div>
  <div class="box">
    <img src="/assets/lambo.jpeg" alt="">

    <h3>LAMBORGHINI</h3>
    <p>Automobili Lamborghini S.p.A. (Italian pronunciation: [autoˈmɔːbili lamborˈɡiːni]) is an Italian brand and manufacturer of luxury sports cars and SUVs based in Sant'Agata Bolognese. </p>
    <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
  </div>
  <div class="box">
    <img src="/assets/porshe.jpeg" alt="">

    <h3>PORSHE</h3>
    <p>The Porsche Macan (Type 95B) is a high-performance Compact luxury crossover SUV produced by the German car manufacturer Porsche from 2014. It is built in Leipzig, Germany.</p>
    <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt' ></i></a>
  </div>
</div>
<app-footer></app-footer>
</body>

