header {
  width: 104%;
  position: relative;
  z-index: 100;
  padding: 16px;
  background: #ffffff;
  margin-left: -24px;
}
.nav-item {
  padding: 4px;
  font-weight: bolder;
}

.navbar-brand {
  font-weight: bold;
}
