<header class="navbar navbar-expand-lg px-5">
  <a class="navbar-brand" routerLink="/dealer/homepage">Car Showroom - Dealer</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dealer/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">My Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Bookings</a>
      </li>
      <li class="nav-item" id="login">
        <button type="button" class="btn btn-success" routerLink="/dealer/login">Login</button>
      </li>
      <li class="nav-item" id="signup">
        <button type="button" class="btn btn-primary" routerLink="/dealer/signup">Sign up</button>
      </li>
      <li class="nav-item" id="logout">
        <button type="button" class="btn btn-danger" (click)="logout()">Log Out</button>
      </li>
    </ul>
  </div>
</header>
